<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>taskBotConfigurations</key>
	<array>
		<dict>
			<key>temperament</key>
			<string>Calm</string>
			<key>goodPathNodeNames</key>
			<array>
				<string>groundBot1_point04</string>
				<string>groundBot1_point02</string>
				<string>groundBot1_point01</string>
				<string>groundBot1_point03</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>groundBot1_point03</string>
				<string>groundBot1_point02</string>
				<string>groundBot1_point01</string>
			</array>
			<key>startsBad</key>
			<false/>
			<key>initialOrientation</key>
			<string>South</string>
			<key>botType</key>
			<string>criminal</string>
		</dict>
		<dict>
			<key>temperament</key>
			<string>Calm</string>
			<key>goodPathNodeNames</key>
			<array>
				<string>groundBot1_point04</string>
				<string>groundBot1_point02</string>
				<string>groundBot1_point01</string>
				<string>groundBot1_point03</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>groundBot1_point03</string>
				<string>groundBot1_point02</string>
				<string>groundBot1_point01</string>
			</array>
			<key>startsBad</key>
			<false/>
			<key>initialOrientation</key>
			<string>South</string>
			<key>botType</key>
			<string>protestor</string>
		</dict>
		<dict>
			<key>temperament</key>
			<string>Calm</string>
			<key>goodPathNodeNames</key>
			<array>
				<string>groundBot1_point04</string>
				<string>groundBot1_point02</string>
				<string>groundBot1_point01</string>
				<string>groundBot1_point03</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>groundBot1_point03</string>
				<string>groundBot1_point02</string>
				<string>groundBot1_point01</string>
			</array>
			<key>startsBad</key>
			<true/>
			<key>initialOrientation</key>
			<string>South</string>
			<key>botType</key>
			<string>police</string>
		</dict>
	</array>
	<key>proximityFactor</key>
	<integer>800</integer>
	<key>initialPlayerBotOrientation</key>
	<string>East</string>
	<key>timeLimit</key>
	<integer>180</integer>
</dict>
</plist>
