<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>taskBotConfigurations</key>
	<array>
		<dict>
			<key>temperament</key>
			<string>Scared</string>
			<key>guardPathNodeNames</key>
			<array>
				<string>policeBot_guard_01</string>
				<string>policeBot_guard_02</string>
			</array>
			<key>goodPathNodeNames</key>
			<array>
				<string>protestorBot_good_01</string>
				<string>protestorBot_good_02</string>
				<string>protestorBot_good_03</string>
				<string>protestorBot_good_04</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>protestorBot_bad_01</string>
				<string>protestorBot_bad_02</string>
				<string>protestorBot_bad_03</string>
				<string>protestorBot_bad_04</string>
			</array>
			<key>startsBad</key>
			<false/>
			<key>initialOrientation</key>
			<string>South</string>
			<key>botType</key>
			<string>criminal</string>
		</dict>
		<dict>
			<key>temperament</key>
			<string>Scared</string>
			<key>guardPathNodeNames</key>
			<array>
				<string>policeBot_guard_01</string>
				<string>policeBot_guard_02</string>
			</array>
			<key>goodPathNodeNames</key>
			<array>
				<string>protestorBot_good_01</string>
				<string>protestorBot_good_02</string>
				<string>protestorBot_good_03</string>
				<string>protestorBot_good_04</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>protestorBot_bad_01</string>
				<string>protestorBot_bad_02</string>
				<string>protestorBot_bad_03</string>
				<string>protestorBot_bad_04</string>
			</array>
			<key>startsBad</key>
			<false/>
			<key>initialOrientation</key>
			<string>South</string>
			<key>botType</key>
			<string>protestor</string>
		</dict>
		<dict>
			<key>temperament</key>
			<string>Fearful</string>
			<key>guardPathNodeNames</key>
			<array>
				<string>policeBot_guard_01</string>
				<string>policeBot_guard_02</string>
			</array>
			<key>goodPathNodeNames</key>
			<array>
				<string>protestorBot_good_01</string>
				<string>protestorBot_good_02</string>
				<string>protestorBot_good_03</string>
				<string>protestorBot_good_04</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>protestorBot_bad_01</string>
				<string>protestorBot_bad_02</string>
				<string>protestorBot_bad_03</string>
				<string>protestorBot_bad_04</string>
			</array>
			<key>startsBad</key>
			<false/>
			<key>initialOrientation</key>
			<string>South</string>
			<key>botType</key>
			<string>protestor</string>
		</dict>
		<dict>
			<key>temperament</key>
			<string>Calm</string>
			<key>guardPathNodeNames</key>
			<array>
				<string>policeBot_guard_01</string>
				<string>policeBot_guard_02</string>
			</array>
			<key>goodPathNodeNames</key>
			<array>
				<string>protestorBot_good_01</string>
				<string>protestorBot_good_02</string>
				<string>protestorBot_good_03</string>
				<string>protestorBot_good_04</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>protestorBot_bad_01</string>
				<string>protestorBot_bad_02</string>
				<string>protestorBot_bad_03</string>
				<string>protestorBot_bad_04</string>
			</array>
			<key>startsBad</key>
			<false/>
			<key>initialOrientation</key>
			<string>South</string>
			<key>botType</key>
			<string>protestor</string>
		</dict>
		<dict>
			<key>temperament</key>
			<string>Calm</string>
			<key>guardPathNodeNames</key>
			<array>
				<string>policeBot_guard_01</string>
				<string>policeBot_guard_02</string>
			</array>
			<key>goodPathNodeNames</key>
			<array>
				<string>protestorBot_good_01</string>
				<string>protestorBot_good_02</string>
				<string>protestorBot_good_03</string>
				<string>protestorBot_good_04</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>protestorBot_bad_01</string>
				<string>protestorBot_bad_02</string>
				<string>protestorBot_bad_03</string>
				<string>protestorBot_bad_04</string>
			</array>
			<key>startsBad</key>
			<false/>
			<key>initialOrientation</key>
			<string>South</string>
			<key>botType</key>
			<string>protestor</string>
		</dict>
		<dict>
			<key>temperament</key>
			<string>Calm</string>
			<key>guardPathNodeNames</key>
			<array>
				<string>policeBot_guard_01</string>
				<string>policeBot_guard_02</string>
			</array>
			<key>goodPathNodeNames</key>
			<array>
				<string>protestorBot_good_01</string>
				<string>protestorBot_good_02</string>
				<string>protestorBot_good_03</string>
				<string>protestorBot_good_04</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>protestorBot_bad_01</string>
				<string>protestorBot_bad_02</string>
				<string>protestorBot_bad_03</string>
				<string>protestorBot_bad_04</string>
			</array>
			<key>startsBad</key>
			<false/>
			<key>initialOrientation</key>
			<string>South</string>
			<key>botType</key>
			<string>protestor</string>
		</dict>
		<dict>
			<key>temperament</key>
			<string>Calm</string>
			<key>guardPathNodeNames</key>
			<array>
				<string>policeBot_guard_01</string>
				<string>policeBot_guard_02</string>
			</array>
			<key>goodPathNodeNames</key>
			<array>
				<string>protestorBot_good_01</string>
				<string>protestorBot_good_02</string>
				<string>protestorBot_good_03</string>
				<string>protestorBot_good_04</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>protestorBot_bad_01</string>
				<string>protestorBot_bad_02</string>
				<string>protestorBot_bad_03</string>
				<string>protestorBot_bad_04</string>
			</array>
			<key>startsBad</key>
			<false/>
			<key>initialOrientation</key>
			<string>South</string>
			<key>botType</key>
			<string>protestor</string>
		</dict>
		<dict>
			<key>temperament</key>
			<string>Calm</string>
			<key>guardPathNodeNames</key>
			<array>
				<string>policeBot_guard_01</string>
				<string>policeBot_guard_02</string>
			</array>
			<key>goodPathNodeNames</key>
			<array>
				<string>criminalBot_good_01</string>
				<string>criminalBot_good_02</string>
				<string>criminalBot_good_03</string>
				<string>criminalBot_good_04</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>criminalBot_bad_01</string>
				<string>criminalBot_bad_02</string>
			</array>
			<key>startsBad</key>
			<false/>
			<key>initialOrientation</key>
			<string>South</string>
			<key>botType</key>
			<string>criminal</string>
		</dict>
		<dict>
			<key>temperament</key>
			<string>Calm</string>
			<key>guardPathNodeNames</key>
			<array>
				<string>policeBot_guard_01</string>
				<string>policeBot_guard_02</string>
			</array>
			<key>goodPathNodeNames</key>
			<array>
				<string>protestorBot_good_01</string>
				<string>protestorBot_good_02</string>
				<string>protestorBot_good_03</string>
				<string>protestorBot_good_04</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>protestorBot_bad_01</string>
				<string>protestorBot_bad_02</string>
				<string>protestorBot_bad_03</string>
				<string>protestorBot_bad_04</string>
			</array>
			<key>startsBad</key>
			<false/>
			<key>initialOrientation</key>
			<string>South</string>
			<key>botType</key>
			<string>protestor</string>
		</dict>
		<dict>
			<key>temperament</key>
			<string>Calm</string>
			<key>guardPathNodeNames</key>
			<array>
				<string>policeBot_guard_01</string>
				<string>policeBot_guard_02</string>
			</array>
			<key>goodPathNodeNames</key>
			<array>
				<string>policeBot_patrol_01</string>
				<string>policeBot_patrol_02</string>
				<string>policeBot_patrol_03</string>
				<string>policeBot_patrol_04</string>
				<string>policeBot_patrol_05</string>
				<string>policeBot_patrol_06</string>
				<string>policeBot_patrol_07</string>
				<string>policeBot_patrol_08</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>policeBot_bad_01</string>
				<string>policeBot_bad_02</string>
				<string>policeBot_bad_03</string>
				<string>policeBot_bad_04</string>
			</array>
			<key>startsBad</key>
			<false/>
			<key>initialOrientation</key>
			<string>South</string>
			<key>botType</key>
			<string>police</string>
		</dict>
		<dict>
			<key>temperament</key>
			<string>Calm</string>
			<key>guardPathNodeNames</key>
			<array>
				<string>policeBot_guard_01</string>
				<string>policeBot_guard_02</string>
			</array>
			<key>goodPathNodeNames</key>
			<array>
				<string>policeBot_patrol_01</string>
				<string>policeBot_patrol_02</string>
				<string>policeBot_patrol_03</string>
				<string>policeBot_patrol_04</string>
				<string>policeBot_patrol_05</string>
				<string>policeBot_patrol_06</string>
				<string>policeBot_patrol_07</string>
				<string>policeBot_patrol_08</string>
			</array>
			<key>badPathNodeNames</key>
			<array>
				<string>policeBot_bad_01</string>
				<string>policeBot_bad_02</string>
				<string>policeBot_bad_03</string>
				<string>policeBot_bad_04</string>
			</array>
			<key>startsBad</key>
			<false/>
			<key>initialOrientation</key>
			<string>South</string>
			<key>botType</key>
			<string>police</string>
		</dict>
	</array>
	<key>proximityFactor</key>
	<integer>800</integer>
	<key>initialPlayerBotOrientation</key>
	<string>East</string>
	<key>timeLimit</key>
	<integer>600</integer>
</dict>
</plist>
